# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore project files from VM

www
